<div class="col-md-12">
  <div class="card">
    <div class="card-header border-0 pt-6">
      <div class="card-title d-flex justify-content-between align-items-center w-100">
        <h2 class="card-title fs-3 fw-bold text-gray-900">Feature View</h2>
        <a href="/feature/create" class="btn btn-sm fw-bold btn-primary">Add Feature</a>
      </div>
    </div>
    <div class="card-body pt-0">
      <table
        id="kt_datatable_dom_positioning_model"
        class="table table-striped table-row-bordered gy-5 gs-7 border rounded"
      >
        <thead>
          <tr class="fw-bold fs-6 text-gray-800 px-7">
            <th>Sr No</th>
            <th>Specification Name</th>
            <th>Feature Name</th>
            <th>Fuel Type</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- DataTables will populate this -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/datatable/datatable.js"></script>
<script>
  $(document).ready(function () {
    const table = initializeDataTable(
      "#kt_datatable_dom_positioning_model",
      "/feature/all",
      [
        {
          data: null,
          name: "sr_no",
          orderable: false,
          render: function (data, type, row, meta) {
            return `<span style="font-size: 1rem;">${meta.row + 1}</span>`;
          },
        },
        {
          data: "specification.spec_name",
          name: "spec_name",
          orderable: true,
          render: function (data, type, row, meta) {
            return `<span style="font-size: 1rem;">${data}</span>`;
          },
        },
        {
          data: "features_name",
          name: "features_name",
          orderable: true,
          render: function (data, type, row, meta) {
            return `<span style="font-size: 1rem;">${data}</span>`;
          },
        },
        {
          data: "fuel_type",
          name: "fuel_type",
          orderable: true,
          render: function (data, type, row, meta) {
           return `<span style="font-size: 1rem;">${data === true ? 'EV' : data === false ? 'Non EV' : data === 2 ? 'Both' : ''}</span>`;

          },
        },
        {
          data: "status",
          name: "status",
          render: function (data, type, row, meta) {
            return `
              <div class="form-check form-switch form-check-custom form-check-success form-check-solid">
                <input class="form-check-input" type="checkbox" value="" ${data ? "checked" : ""} uuid="${row.uuid}" status-type="status"/>
              </div>
            `;
          },
        },
        {
          data: "uuid",
          name: "uuid",
          orderable: false,
          searchable: false,
          render: function (data) {
            const editRoute = `/feature/${data}/edit`;
            return `
              <a href="${editRoute}" class=" btn-primary" style="padding: 0;">
                <i class="fa fa-pencil fs-4 text-primary">

                </i>
              </a>
              <a href="javascript:void(0);"
                uuid="${data}"
                class="delete_record btn-danger" style="padding: 0;">
                <i class="fa fa-trash fs-4 text-danger"></i>
              </a>
            `;
          },
        },
      ]
    );

    function setupStatusToggleHandler(selector, table) {
      $(document).on("change", selector, function () {
        const uuid = $(this).attr("uuid");
        $.ajax({
          url: `/feature/${uuid}/status`,
          type: "PATCH",
          data: {
            type: $(this).attr("status-type"),
          },
          success: function (response) {
            Swal.fire({
              title: "Success",
              text: "Feature status updated successfully",
              icon: "success",
            });
          },
        });
      });
    }

    function setupDeleteHandler(selector, table) {
      $(document).on("click", selector, function () {
        const uuid = $(this).attr("uuid");
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: `/Feature/${uuid}`,
              type: "DELETE",
              success: function (response) {
                Swal.fire("Deleted!", "Feature has been deleted.", "success");
                table.ajax.reload();
              },
            });
          }
        });
      });
    }
    // Implement status toggle handler
    setupStatusToggleHandler(".form-check-input", table);

    // Apply delete handler for delete buttons
    setupDeleteHandler(".delete_record", table);
  });
</script>
